services:
  express:
    build: 
      context: ./express
    extends:
      file: ./express/compose.yaml
      service: express
    # networks:
    #   trx-apps:
    #     ipv4_address: 192.168.205.101

  mongo-db:
    extends:
      file: ./mongo-db/compose.yaml
      service: mongo-db
    # networks:
    #   trx-apps:
    #     ipv4_address: 192.168.205.102

  mongo-express:
    extends:
      file: ./mongo-express/compose.yaml
      service: mongo-express
    depends_on:
      - mongo-db
    # networks:
    #   trx-apps:
    #     ipv4_address: 192.168.205.103

volumes:
  express-node-modules:
  mongodb_data:
    driver: local

# networks:
#   trx-apps:
#     ipam:
#       driver: default
#       config:
#         - subnet: 192.168.205.0/24