version: "3"
services:
  mongo-db:
    image: mongo:latest
    container_name: express_api_mongo-db
    restart: always
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=1234
    ports:
      - 27017:27017
    stdin_open: true